* {
    margin: 10px;
}

h1.heading {
    color: white;
    padding: 3px;
    border: 3px solid pink;
}

.heading {
    background-color: rgb(153, 201, 255);
    color: white;
    text-align: center;
    padding: 3px;
}

p, li {
    color: rgb(255, 91, 118);
}

body {
    font-family: 'Times New Roman', Times, serif;
}



