.title {
    color: white;
    background: palevioletred;
    padding: 3px;
    border: 3px solid rgb(184, 222, 255); 
    text-align: center;
    margin: 10px; 
}

.list {
    background-color: rgb(184, 222, 255);
    padding: 3px;
    margin: 10px;
}

ul {
    color: white; 
}

li {
    color: white;
}